<AuthorizeView>
    <Authorized>
        Привіт, @context.User.Identity.Name!
        <a href="Logout">Вийти</a>
    </Authorized>
    <NotAuthorized>
        <a href="Registration">Реєстрація</a>
        <a href="Login">Вхід</a>
    </NotAuthorized>
</AuthorizeView>