@page "/login"

<PageTitle>Вхід</PageTitle>

@if (ShowAuthError)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<EditForm Model="loginDto" OnValidSubmit="ExecuteLogin" class="card card-body bg-light w-50 m-auto">
    <DataAnnotationsValidator />
    <div class="form-outline mb-4">
        <label for="email" class="form-label">Email</label>
        <InputText id="email" class="form-control" placeholer="Email" @bind-Value="loginDto.Email" />
        <ValidationMessage For="@(() => loginDto.Email)" />
    </div>

    <div class="form-outline mb-4">
        <label for="password" class="form-label">Пароль:</label>
        <InputText type="password" id="password" placeholer="password" class="form-control" @bind-Value="loginDto.Password" />
        <ValidationMessage For="@(() => loginDto.Password)" />
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Увійти</button>
    <div class="text-center">
        <button type="button" class="btn btn-link" @onclick="RedirectToRegister">Реєстрація</button>
    </div>
    
</EditForm>